---
layout: page
---

{{ content }}

<!-- begin Experience -->
<h1><br>Experience</h1>
<hr />

{% for years site.data.updates %}
    <div>
        {% for year in years %}
            <h3>{{ year[0] }}</h3>
            {% for month in year %}
                <h4>{{ month }}</h4>
                {% for update in updates %}
                    <p>{{ update.content }}</p>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
{% endfor %}

</section>
<!-- end Experience -->