---
layout: page
---

{{ content }}

Hi, my name is Paulo. I am a Brazilian entrepreneur and researcher. I have spent most of my career working for various companies, selling and supporting <a href="https://www.plm.automation.siemens.com/global/en/our-story/glossary/digital-manufacturing/13157" target="_blank">digital manufacturing</a> technologies. After completing two undergraduate courses, I pursued a Master's in Engineering and Innovation Management, where I began researching various <a href="https://en.wikipedia.org/wiki/Computer_vision" target="_blank">computer vision</a> topics. Currently, I am a Ph.D. candidate at <a href="https://www.queensu.ca/" target="_blank">Queen's University</a> in Canada, focusing on autonomous vehicles and robotics. For more details about my academic background, skills, and recommendations, please visit my <a href="https://www.linkedin.com/in/paaraujo/" target="_blank">LinkedIn</a> profile.

<h1><br>Latest News</h1>
<hr />

<div class="container">
  <div class="item">
    <div id="timeline">
      <div>
         <!-- Novo ano -->
         <section class="year">
          <h3>Last</h3>
          <section>
            <h4>September</h4>
            <ul>
              <li>The <em>26th IEEE International Conference on Intelligent Transportation Systems (ITSC 2023)</em> has started.</li>
            </ul>
            <ul>
              <li>The <em>36th International Technical Meeting of the Satellite Division of The Institute of Navigation (ION GNSS+ 2023)</em> has started.</li>
            </ul>
          </section>
          <section>
            <h4>July</h4>
            <ul>
              <li><b>Robust Land Vehicle Positioning with Invariant Kalman Filters and Map-Based Corrections</b> for oral presentation at the <em>26th IEEE International Conference on Intelligent Transportation Systems (ITSC 2023)</em>.</li>
            </ul>
          </section>
          <section>
            <h4>June</h4>
            <ul>
              <li><b>A Novel Method for Land Vehicle Positioning: Invariant Kalman Filters and Deep-Learning-Based Radar Speed Estimation</b> has been accepted for publication in the journal <em>IEEE Transactions on Intelligent Vehicles</em>.</li>
            </ul>
          </section>
          <section>
            <h4>April</h4>
            <ul>
              <li><b>Improving Land Vehicle Navigation: A Study on RIDR and Kalman Filters</b> for oral presentation at the <em>36th International Technical Meeting of the Satellite Division of The Institute of Navigation (ION GNSS+ 2023)</em>.</li>
            </ul>
          </section>
        </section>
         <!-- Novo ano -->
         <section class="year">
          <h3>2022</h3>
          <section>
            <h4>September</h4>
            <ul>
              <li>The <em>35th International Technical Meeting of the Satellite Division of The Institute of Navigation (ION GNSS+ 2022)</em> has started.</li>
            </ul>
          </section>
          <section>
            <h4>April</h4>
            <ul>
              <li><b>Evaluation of Invariant Extended Kalman Filters Applied to Multi-Sensor Land Vehicle Navigation in GNSS Challenging Environments</b> for oral presentation at the <em>35th International Technical Meeting of the Satellite Division of The Institute of Navigation (ION GNSS+ 2022)</em>.</li>
            </ul>
          </section>
        </section>
        <!-- Novo ano -->
        <section class="year">
          <h3>2021</h3>
          <section>
            <h4>September</h4>
            <ul>
              <li>I am moving to Canada after the pandemic.</li>
            </ul>
          </section>
        </section>
        <!-- Novo ano -->
        <section class="year">
          <h3>2020</h3>
          <section>
            <h4>November</h4>
            <ul>
              <li><b>Cloud-based approach for automatic CNC workpiece origin localization based on image analysis</b> has been accepted for publication in the journal <em>Robotics and Computer-Integrated Manufacturing</em>.</li>
            </ul>
          </section>
          <section>
            <h4>September</h4>
            <ul>
              <li>I have started my PhD at <a href="https://queensu.ca" target="_blank">Queen's University</a> advised by <a href="http://www2.cs.queensu.ca/people/profile.php?fname=Sidney&lname=Givigi" target="_blank">Sidney Givigi</a> and <a href="http://www2.cs.queensu.ca/people/profile.php?fname=Aboelmagd%20&lname=Noureldin" target="_blank">Aboelmagd Noureldin</a>.</li>
            </ul>
          </section>
        </section>
        <!-- Novo ano -->
        <section class="year">
          <h3>2019</h3>
          <section>
            <h4>December</h4>
            <ul>
              <li><b>In-Process Tool Wear Measurement System Based on Image Analysis for CNC Drilling Machines</b> has been accepted for publication in the journal <em>IEEE Transactions on Instrumentation and Measurement</em>.</li>
            </ul>
          </section>
          <section>
            <h4>October</h4>
            <ul>
              <li><b>Computer vision system for workpiece referencing in three-axis machining centers</b> has been accepted for publication in the journal <em>The International Journal of Advanced Manufacturing Technology</em>.</li>
            </ul>
          </section>
          <section>
            <h4>September</h4>
            <ul>
              <li><b>In-process machine vision monitoring of tool wear for Cyber-Physical Production Systems</b> has been accepted for publication in the journal <em>Robotics and Computer-Integrated Manufacturing</em>.</li>
            </ul>
          </section>
        </section>
        <!-- Novo ano -->
        <section class="year">
          <h3>2018</h3>
          <section>
            <h4>November</h4>
            <ul>
              <li>I defended my Master dissertation in Engineering and Innovation Management at UFABC.</li>
              <li><b>A Visual Computing Approach for Automatic Workpiece Referencing in Machining Centers</b> has been accepted for oral presentation at the <em>2018 13th IEEE International Conference on Industry Applications INDUSCON 2018</em>.</li>
            </ul>
          </section>
        </section>
        <!-- Novo ano -->
        <section class="year">
          <h3>2017</h3>
          <section>
            <h4>November</h4>
            <ul>
              <li><b>Smart Setup - Computational visual system to reduce setup time in CNC vertical machining centers</b> has been accepted for oral presentation at the <em>XXXVIII Ibero-Latin American Congress on Computational Methods in Engineering (CILAMCE 2017)</em>.</li>
            </ul>
          </section>
          <section>
            <h4>January</h4>
            <ul>
              <li>I have started my Master at <a href="https://www.ufabc.edu.br/" target="_blank">UFABC</a> advised by <a href="https://www.ufabc.edu.br/ensino/docentes/romulo-goncalves-lins" target="_blank">Romulo Gonçalves Lins</a> and <a href="https://www.ufabc.edu.br/ensino/docentes/alexandre-acacio-de-andrade" target="_blank">Alexandre Acácio de Andrade</a>.</li>
            </ul>
          </section>
        </section>
      </div>
    </div>
  </div>
</div>
  <!-- https://codepen.io/mathiesjanssen/pen/ggeBKm -->
